/* ///////////////////////////////////////////////UNIVERSAL ELEMENTS*/

html, body {margin: 0; height: 100%; overflow: hidden}

/* ///////////////////////////////////////////////HIDDEN ELEMENTS*/
#hidden-answer {
  display: none;
}

#hidden-money {
  display: none;
}

/* ///////////////////////////////////////////////IMAGE*/
img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
}

/* ///////////////////////////////////////////////SCORE */
.score-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 90vh;
}

.score-box {
  position: relative;
  top: 0;
  left: 0;
}

.score {
  position: absolute;
  display: block;
  top: 5px;
  left: 5vw;
  z-index: 1;
  text-align: center;
  border: 5px solid #8F0FBA;
  padding: 1px 10px 0px;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 3.3vw;
  color: #C014FA;
}

/* ///////////////////////////////////////////////RESET */
.reset-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 90vh;
}

.reset-box {
  position: relative;
  top: 0;
  left: 0;
  cursor: pointer;
}

.reset {
  position: absolute;
  display: block;
  top: 5px;
  right: 5vw;
  z-index: 1;
  text-align: center;
  border: 5px solid #8F0FBA;
  padding: 1px 10px 0px;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 3.3vw;
  color: #C014FA;
}

.reset:hover {
  border: 5px solid rgb(210, 31, 255);
}

/* ///////////////////////////////////////////////TYPE BUTTON */
.type-button {
  background-color: #bd9a00;
  border: .5px solid #bd9a00;
}

.type-button:hover {
  background-color: #ffd000;
  border: .5px solid #ffd000;
}

/* ///////////////////////////////////////////////TIMER */

.clock-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 90vh;
}

.clock-box {
  position: relative;
  top: 0;
  left: 0;
}

.clock {
  position: absolute;
  display: block;
  top: 5px;
  left: 44.7vw;
  z-index: 1;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 3.3vw;
}

.danger {
  color: #ffd000;
  border: 5px solid #bd9a00;
  padding: 1px 10px 0px;
}

/* ///////////////////////////////////////////////TEXT INPUT */

.type-answer {
  margin: 0 auto;
}

/* ///////////////////////////////////////////////TABLE */

.card-container {
  width: 60%;
  border-collapse: collapse;
  margin: 75px auto 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.card-box {
  position: relative;
  width: 200px;
  height: 90px;
}

.title-box {
  position: relative;
  width: 16vw;
  height: 9vh;
  text-align: center;
  font-size: 1vw;
  margin-bottom: 2px;
  padding-top: 20px;
  color: #E3E3FA;
  background: #341170;
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
}

.money-amount {
  padding-top: 12px;
  position: absolute;
  font-size: 3vw;
  top: 0;
  left: 0;
  width: 16vw;
  height: 13vh;
  text-align: center;
  word-wrap: break-word;
  color: #7325FA;
  background: #341170;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}

.card-front {
  position: absolute;
  font-size: 1vw;
  top: 0;
  left: 0;
  width: 16vw;
  height: 13vh;
  z-index: -1;
  text-align: center;
  word-wrap: break-word;
  color: #E3E3FA;
  background: #341170;
}

.card-back {
  padding-top: 30px;
  position: absolute;
  top: 0;
  left: 0;
  width: 16vw;
  height: 13vh;
  z-index: -1;
  font-size: 1vw;
  text-align: center;
  word-wrap: break-word;
  color: #E3E3FA;
  background: #341170;
}

.flip {
  display: none;
}

/* ///////////////////////////////////////////// LOADING */

.loading-container {
  position: absolute;
  top: 0;
  left: 25vw;
  width: 100vw;
  height: 90vh;
}

.loading-box {
  position: relative;
  top: 0;
  left: 0;
}

.loading {
  position: absolute;
  left: 4%;
  top: 0;
  margin-top: 220px;
  z-index: 1;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 8vw;
  color: rgb(210, 31, 255);
  border: 10px solid rgb(164, 0, 185);
  padding: 1px 10px 0px;
}

/* ///////////////////////////////////////////// CORRECT RESPONS */

.correct-container {
  position: absolute;
  top: 0;
  left: 9vw;
  width: 100vw;
  height: 100vh;
}

.correct-box {
  position: relative;
  top: 0;
  left: 0;
}

.correct {
  position: absolute;
  left: 4%;
  top: 0;
  margin-top: 220px;
  z-index: 1;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 8vw;
  color: rgb(210, 31, 255);
  border: 10px solid rgb(164, 0, 185);
  padding: 1px 10px 0px;
}

/* ///////////////////////////////////////////// WRONG RESPONSE */

.wrong-container {
  position: absolute;
  top: 0;
  left: 22vw;
  width: 100vw;
  height: 100vh;
}

.wrong-box {
  position: relative;
  top: 0;
  left: 0;
}

.wrong {
  position: absolute;
  left: 4%;
  top: 0;
  margin-top: 220px;
  z-index: 1;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 8vw;
  color: rgb(210, 31, 255);
  border: 10px solid rgb(164, 0, 185);
  padding: 1px 10px 0px;
}

/* ///////////////////////////////////////////// TIMES UP RESPONSE */

.times-up-container {
  position: absolute;
  top: 0;
  left: 26vw;
  width: 100vw;
  height: 100vh;
}

.times-up-box {
  position: relative;
  top: 0;
  left: 0;
}

.times-up {
  position: absolute;
  left: 4%;
  top: 0;
  margin-top: 220px;
  z-index: 1;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 8vw;
  color: rgb(210, 31, 255);
  border: 10px solid rgb(164, 0, 185);
  padding: 1px 10px 0px;
}

/* ///////////////////////////////////////////// PREVENT SUBMISSION AND CLICKING*/

.no-clicking-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}



