.colors {
  color: #115ff4;
  color: #060ce9;
  color: #28a200;
  color: #8d2ab5;
  color: #74119c;
  color: #ffd000;
 }
 
 
 /* ///////////////////////////////////////////////IMAGE*/
 img {
   position: absolute;
   top: 0;
   left: 0;
   z-index: -2;
 }
 
 /* ///////////////////////////////////////////////SCORE */
 .score-container {
   position: absolute;
   top: 0;
   left: 0;
   width: 100vw;
   height: 90vh;
 }
 
 .score-box {
   position: relative;
   top: 0;
   left: 0;
 }
 
 .score {
 position: absolute;
 display: block;
 top: 5px;
 left: 5vw;
 z-index: 1;
 text-align: center;
 border: 5px solid rgb(164, 0, 185);
 padding: 1px 10px 0px;
 font-family: 'Roboto', sans-serif;
 font-weight: 600;
 font-size: 3.3vw;
 color: rgb(210, 31, 255);
 }
 
 
 /* ///////////////////////////////////////////////TIMER */
 
 .clock-container {
   position: absolute;
   top: 0;
   left: 0;
   width: 100vw;
   height: 90vh;
 }
 
 .clock-box {
   position: relative;
   top: 0;
   left: 0;
 }
 
 .clock {
 position: absolute;
 display: block;
 top: 5px;
 left: 44.5vw;
 z-index: 1;
 text-align: center;
 font-family: 'Roboto', sans-serif;
 font-weight: 600;
 font-size: 3.3vw;
 }
 
 .starting {
   color: #21bf73;
   border: 5px solid #21bf73;
   padding: 1px 10px 0px;
 }
 
 .danger {
   color: #d4043b;
   border: 5px solid #9a1f40;
   padding: 1px 10px 0px;
 }
 
 
   /* ///////////////////////////////////////////////TEXT INPUT */
 
     .type-answer {
       margin: 0 auto;
       }
 
 /* ///////////////////////////////////////////////TABLE */
 
 .card-container {
   width: 60%;
   border-collapse: collapse;
   margin: 75px auto 20px;
   box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
 }
 
 .card-box {
   position: relative;
   width: 200px;
   height: 90px;
 }
 
 .title-box {
   position: relative;
   width: 16vw;
   height: 9vh;
   text-align: center;
   font-size: 1vw;
   margin-bottom: 2px;
   padding-top: 20px;
   color: #fff;
   background: #050cd8;
   font-family: 'Roboto', sans-serif;
   font-weight: 800;
 }
 
 
 .money-amount {
   padding-top: 12px;
   position: absolute;
   font-size: 3vw;
   top: 0;
   left: 0;
   width: 16vw;
   height: 13vh;
   text-align: center;
   word-wrap: break-word;
   color: #ffd000;
   background: #050cd8;
   font-family: 'Roboto', sans-serif;
   font-weight: 600;
 }
 
 .card-front {
   position: absolute;
   font-size: 1vw;
   top: 0;
   left: 0;
   width: 16vw;
   height: 13vh;
   z-index: -1;
   text-align: center;
   word-wrap: break-word;
   color: #fff;
   background: #050cd8;
 }
 
 
 .card-back {
   padding-top: 30px;
   position: absolute;
   top: 0;
   left: 0;
   width: 16vw;
   height: 13vh;
   z-index: -1;
   font-size: 1vw;
   text-align: center;
   word-wrap: break-word;
   color: #fff;
   background: #050cd8;
 }
 
 .flip {
   display: none;
 }