/* some colors you may find useful:
  #115ff4
  #060ce9
  #28a200
  #8d2ab5
  #74119c
*/

.card-container {
  width: 100%;

}

.card-box {
  position: relative;
  width: 220px;
  height: 120px;
}

.flip {
  display: none;
}

.card-front {
  position: absolute;
  font-size: .8vw;
  top: 0;
  left: 0;
  width: 16vw;
  height: 17vh;
  text-align: center;
  word-wrap: break-word;
  background: yellow;
}

.card-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 16vw;
  height: 17vh;
  z-index: -1;
  text-align: center;
  word-wrap: break-word;
  background: yellow;
}